/*faqs css             =============================         */
.intern-faq-tab {
    background-color: #343a40;
    height: 100px;
    line-height: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}
.intern-faq-tab:not(.active-tab):hover {
    background-color: #535c66;
}
.intern-faq-tab.active-tab {
    background-color: #57fe36;
    color: #343a40;
}
.intern-faq-tab p.intern-faq-tab-head {
    display: inline-block;
    vertical-align: middle;
    line-height: 1.5;
    font-size: 16px;
    margin-bottom: 0.5rem;
}
.intern-faq-ques {
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.intern-faq-arrow {
    float: right;
    font-size: large;
    font-weight: bold;
}
.intern-faq-ans {
    font-size: smaller;
    display: none;
}
@media (min-width: 760px) {
    .intern-faq-ans {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}
.intern-faq-ques span {
    transition: 0.2s;
}
.intern-faq-content:not(.active-tab-content) {
    display: none;
}
.intern-faq-content hr {
    margin: 0;
}


/***akshay's code css***/
.motivation-cards {
    height: 270px;
    padding: 0px 30px;
    line-height: 270px;
}
.motivation-cards p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}
@media (max-width: 992px) and (min-width: 750px) {
    .motivation-cards {
        height: 400px;
        line-height: 400px;
    }
} 
@media (max-width: 500px) {
    .motivation-cards.m-card-2 {
        height: 400px;
        line-height: 400px;
    }
}
#about-read-more ,#about-read-less{
    
    border: hidden;
    padding: 0px 0px;
    color: #18d26e;
    background-color: white;
    outline: none;
}
#about-read-less{display: none;}
#read-more-content {
    display: none;
}
img.founder-img {
    width: 60%;
    border-radius: 50%;
    border: 10px solid white;
    margin-top: 50px;
    margin-bottom: 20px;
}
@media (max-width: 992px) {
    img.founder-img {
        margin-top: 10px;
    }
}
.box2{

	  z-index: 2; /* The z-index should be higher than Google Maps */



	  padding: 5%;
	  background: #FDD329;

	  opacity:; /* Set the opacity for a slightly transparent Google Form */
	  color: black;

	   opacity:0.8;
	   width:104%;
}

.box3{

	  z-index:-1; /* The z-index should be higher than Google Maps */



	  padding: 5%;
	  background:black;

	  opacity:; /* Set the opacity for a slightly transparent Google Form */
	  color: white;

	   opacity:0.6;
	   width:104%;


}
.parallax2{
	width:100%;
	margin-left:0px;
	 background:url(./background2.png);
    background-attachment:fixed;
    -webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;


	}
	@media screen and (max-width: 600px) {
		.box3{width:100%;}
		.box2{width:100%;}
	}
	
